<!-- index.html -->
<html>
<head>
    <title>Listing demo app with mongoose</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
<div ng-app="demoApp" ng-controller="mainController">
    <form ng-submit="submit(listing)">
    <select id="manufacturer" name="manufacturer" ng-model="listing.manufacturer" ng-options="c.make for c in carData" class="form-control">
        <option value="">Choose manufacturer</option>
    </select>
    <select id="model" name="model" ng-model="listing.model" ng-disabled="!listing.manufacturer" ng-options="d.model as d.model for d in listing.manufacturer.models" class="form-control">
        <option value="">Choose model</option>
    </select>
        <button type="submit">submit</button>
    </form>

    <h1>Listings in database</h1>
    <p ng-if="listings.length == 0">No listings yet.</p>
    <ul ng-if="listings.length > 0">
        <li ng-repeat="listing in listings">
            make: {{listing.manufacturer.make}}<br/>
            model: {{listing.model}} <button ng-click="remove(listing)">remove</button>
        </li>
    </ul>
</div>
</body>
</html>